<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.patabendi.EmployeeMapper">
	
	<resultMap id="employeeResult" type="employee">
		<id property="emp_id" column="id" />
		<result property="emp_name" column="name"/>
		<result property="emp_salary" column="salary"/>
		<result property="project_id" column="project_id"/>
		<result property="emp_email" column="email"/>
	</resultMap>

	<insert id="insertEmployee" parameterType="employee">
		INSERT into employee(name,salary,project_id,email) VALUES(#{emp_name}, #{emp_salary}, #{project_id}, #{emp_email}) 	    
	</insert>

	<select id="selectAllEmployees" resultMap="employeeResult">
	    SELECT * FROM employee
	</select>
	
	<select id="selectEmployeeById" parameterType="int" resultMap="employeeResult">
      	SELECT * FROM employee WHERE id = #{emp_id};
   	</select>
   	
   	<update id="updateEmployee" parameterType="employee">
		UPDATE employee SET name=#{emp_name}, salary=#{emp_salary}, project_id=#{project_id}, email=#{emp_email} WHERE id=#{emp_id}  	    
	</update>
	
	<delete id="deleteEmployeeById" parameterType="int">
		DELETE FROM employee WHERE id =#{emp_id}  	    
	</delete>
	
	<select id="selectAllEmployeesByProject" resultMap="employeeResult">
	    SELECT * FROM employee WHERE project_id = #{project_id};
	</select>
	
	<select id="selectAllEmployeesByManager" resultMap="employeeResult">
	    SELECT * FROM employee WHERE employee.project_id in (
				SELECT id FROM project WHERE manager_id = #{manager_id}) ;
	</select>
	
<!-- 	<select id="getSalary" resultMap="employeeResult">
	    SELECT SUM(employee.salary) as salary, project_id FROM employee 
			WHERE employee.project_id in (
				SELECT DISTINCT project.id FROM project 
				INNER JOIN employee ON project.id = employee.project_id) 
		group by project_id;
	</select> -->

</mapper>