<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.patabendi.ProjectMapper">
	
	<resultMap id="projectResult" type="project">
		<id property="project_id" column="id" />
		<result property="project_name" column="name"/>
		<result property="project_location" column="location"/>
		<result property="manager_id" column="manager_id"/>
	</resultMap>
	
	<select id="selectAllProjects" resultMap="projectResult">
	    SELECT * FROM project
	</select>
	
	<select id="selectProjectById" parameterType="int" resultMap="projectResult">
      	SELECT * FROM project WHERE id = #{project_id};
   	</select>
   	
   	<insert id="insertProject" parameterType="project">
		INSERT into project(name,location,manager_id) VALUES(#{project_name}, #{project_location}, #{manager_id}) 	    
	</insert>
	
	<update id="updateProject" parameterType="project">
		UPDATE project SET name=#{project_name}, location=#{project_location}, manager_id=#{manager_id} WHERE id=#{project_id}  	    
	</update>
	
	<delete id="deleteProjectById" parameterType="int">
		DELETE FROM project WHERE id =#{project_id}  	    
	</delete>
	
	<select id="selectAllProjectsByManager" parameterType="int" resultMap="projectResult">
	    SELECT * FROM project WHERE manager_id = #{manager_id};
	</select>
	
	<select id="selectSomeProjects" resultMap="projectResult">
	    SELECT id, manager_id FROM project WHERE id = #{project_id};
	</select>


</mapper>